.Nav {
  height: 70px;
  background: #eceff4;
  padding: 0;
  border-bottom: 1px solid #d8dee9;
  background: white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
